---
---

$font-main: -apple-system,BlinkMacSystemFont,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
$font-sub: 'Lucida Console',lucida,monospace;

$red: #da8c83;
$blue: #8c83da;
$main-color: $blue;
$dark-grey: #333;
$light-grey: #f6f6f6;
$grey: #c0c0c0;
$code: #888;

$max-width: 700px;

/*
** GLOBALS
*/
* {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}

body {
	font-family: Inconsolata, Consolas, "Liberation Mono", Menlo, Courier, monospace;
	line-height: 1.5em;
	overflow-x:hidden;
  font-size: 13.5px;
  margin: 2em auto;
  padding: 1em;
  max-width: $max-width;
  line-height: 1.9em;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -moz-font-feature-settings: "kern" 1, "liga" 1;
  -ms-font-feature-settings: "kern" 1, "liga" 1;
  -o-font-feature-settings: "kern" 1, "liga" 1;
  -webkit-font-feature-settings: "kern" 1, "liga" 1;
  font-feature-settings: "kern" 1, "liga" 1;
}

.nav {
  a {
    &:hover {
      border: none;
    }
  }
  img {
    width: 80px;
    height: auto;
  }
  margin-bottom: 2em;
}

.container {
  max-width: $max-width;
  padding: 1em;
  margin: auto;
}

p, ul, ol, pre, blockquote {
  margin-bottom: 2em;
}

p {
	color: $dark-grey;

  code {
    background: #f6f6f6;
  }
}

pre {
  padding: 1em;
  background: #f6f6f6;
  overflow-x: scroll;
}

a {
	text-decoration: none;
	color: $main-color;
  &:hover {
    border-bottom: 1px solid $blue;
  }
}

hr {
  border: none;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  margin: 2em 0;
}

img {
  max-width: 100%;
  height: auto;
}

.cf {
  &:before {
    content:" ";
    display:table;
  }
  &:after {
    clear:both;
  }
  *zoom:1;
}

@mixin mono($color) {
  color: $color;
  // font-size:.75em;
}
.mono {
  @include mono($grey);
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    position: relative;
    span {
      color: $grey;
      margin-right: 1em;
      @include mono($grey);
      padding: 10px 0;
    }
  }
}

.title {
	font-size:3em;
	text-align:left;
	line-height:1.1em;
	margin:.5em 0 0;
}
.date {
	@include mono($code);
}
/* center twitter embeds */
.twitter-tweet { margin:10px !important; }

.project {
  margin-bottom: 5em;
}
.project-image {
  width: 90px;
  height: 45px;
  float: right;
  margin-top: -1em;
  background-color:$grey;
  background-position: center center;
  background-repeat:no-repeat;
  background-size: 100% auto;
  border-radius: 5px;
}

/*
** RESUME
*/
.resume {
  margin-bottom: 5em;
}
.resume_item {
  margin-bottom: 2em;
  display: inline-block;
  vertical-align: top;
  position: relative;
  &.resume_item_half {
    @media (min-width: $max-width) {
      width: 49%;
    }
    &:nth-child(1n) {
      padding-right: 2em;
    }
  }
  .resume_logo {
    position: absolute;
    left: -70px;
    top: 0;
    width: 55px;
    img {
      width: 100%;
    }
  }
}
.resume_header {
  margin: 0;
}
.resume_title {
  font-size: 0.8em;
  font-weight: 100;
  color: $grey;
  margin-left: 1em;
}
.resume_timeline {
  font-weight: 100;
  font-style: italic;
  margin: 0;
}
.resume_description {
  margin: 0.5em 0;
}


/*
** FOOTER
*/
footer {
  margin:4em 0 1.5em;
}
