@font-face {
    font-family: 'icons';
    src: url('../assets/icons/socicon-webfont.eot');
    src: url('../assets/icons/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/icons/socicon-webfont.woff') format('woff'),
         url('../assets/icons/socicon-webfont.ttf') format('truetype'),
         url('../assets/icons/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.cf:before,.cf:after{content:" ";display:table;}.cf:after{clear:both;}.cf{*zoom:1;}

/*
** GLOBALS
*/
body {
	font-family: 'Arvo', serif;
	max-width:800px;
	margin:1em auto;
	padding:0 2em;
}
p {
	color:#444;
	line-height: 1.5em;
}
body > p,
article > p {
	max-width:650px;
}
article > p img {
	width:100%;
}
a {	
	text-decoration:none;
	color:steelblue;
}
ul {
	list-style-type: none;
	padding:0;
	margin:0;
}

/*
** HOME
*/

/*
** NAVIGATION
*/
nav {
	margin-bottom:5em;
}
nav ul li {	
	margin-right:10px;
	display:inline-block;
}
nav ul li a {	
	font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
	color:#c0c0c0;
	letter-spacing:.2em;
	font-size:.7em;
	text-transform:uppercase;
}
nav ul li a.current { 
	color:#b44682;
}
nav ul li a:hover { color:#222; }
@media (max-width: 480px) {}

/*
** POST
*/
article {
	color:#444;
	line-height:1.6em;
}
article img {
	display:block;
	margin:auto;
	max-width:100%;
	height:auto;
}
.post-list li { margin-bottom:.8em; }
.title {
	font-size:3em;
	text-align:left;
	line-height:1.1em;
	margin:.5em 0 0;
}
.date {
	font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
	color:#999;
	font-size:.75em;
	margin-right:10px;
}
.post-list li a:hover { opacity:.5; }
.post-list li.current { opacity:.5; }
article p a:hover,
#projects li .info a:hover {	
	background-color:#e5e5e5;
}
/* center twitter embeds */
.twitter-tweet { margin:10px auto !important; }
article .highlight {
	padding-left:10px;
	margin-left:-10px;
	line-height:1em;
	overflow:auto;
	background-color:#f6f6f6;
}
article .highlight pre {
	margin:.5em 0;
}
article ol,
article ul {
	margin-left:20px;
	margin-bottom:1em;
}
article li {
	list-style: disc;
}
article p span,
article p code {
	font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
	font-size:.8em;
	color:#999;
}
hr { border-top:1px dashed #c0c0c0; }

/*
** LINKS
*/
#git ul {
	float:left;
	width:50%;
}
#starred li, 
#git-recent li { margin-bottom:.7em; }
#starred .star-desc {
	color:#999;
	font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
	font-size:.8em;
}
#git-recent {
	margin:0;
	padding:0;
	font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
}
#git-recent .meta {
	font-size:.7em;
	color:#999;
}
#git-recent .event {
	padding:3px 5px;
	color:#fff;
	text-transform: uppercase;
	border-radius:3px;
	margin-right:10px;
}
#git-recent .pushdate {
	margin-right:5px;
}
#git-recent .pushtime {
	color:#c0c0c0;
}
.event.PushEvent { background-color:#6cc644; }
.event.IssueCommentEvent { background-color:#d78066; }
.event.CreateEvent { background-color:#6e5494; }
.event.WatchEvent { background-color:#a898be; }
.event.IssuesEvent { background-color:#bd2c00; }
#git-recent li a {
	font-family: 'Lora', serif;
}

/*
** PROJECTS
*/
#project-nav {
	list-style-type: none;
}
#project-nav li {
	float:left;
	display:inline;
	margin-right:10px;
	padding:4px 10px;
	border-radius:3px;
	text-transform:uppercase;
	font-weight:700;
	font-size:.8em;
	font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
}
#project-nav li:hover {
	opacity:.8;
	cursor:pointer;
}
#maps {
	color:#b44682;
	border:1px solid #b44682;
}
#maps.active { background-color:#b44682; }
#web {
	color:#82b446;
	border:1px solid #82b446;
}
#web.active { background-color:#82b446; }
#design {
	color:#4682B4;
	border:1px solid #4682B4;
}
#design.active { background-color:#4682B4; }
#all {
	color:#c0c0c0;
	border:1px solid #c0c0c0;
}
#all.active { background-color:#c0c0c0; }
#project-nav li.active {
	color:#fff;
}
.expand {
	background-color:transparent;
	border:1px solid #999;
	color:#999;
	padding:3px 8px;
	text-transform: uppercase;
	font-weight:700;
	opacity:.8;
	outline:none;
	width:50px;
}
.expand:hover {
	opacity:1;
	cursor:pointer;
}
.expand:active {
	outline:none;
}
.info h2 {
	margin:0 0 5px;
	padding:0;
	font-size:1.1em;
}
.tool {
	font-size:.6em;
	text-transform:uppercase;
	color:#c0c0c0;
	font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
	margin-left:10px;
}
.tool { letter-spacing:-.1em; }
.info p { margin:0 0 10px; }
#projects li .info,
#projects li .full { padding-left:10px; }
.design .info { border-left:2px solid #4682B4;}
.maps .info { border-left:2px solid #b44682;}
.web .info { border-left:2px solid #82b446;}
.design .full { border-left:2px solid #b5cde1;}
.maps .full { border-left:2px solid #e1b5cd;}
.web .full { border-left:2px solid #cde1b5;}
#projects li { margin-top:30px; }
#projects li .full {
	display:none;
	padding-top:10px;
}
#projects li .full img {
	max-width:100%;
	height:auto;
	margin-bottom:10px;
}

/*
** FOOTER
*/
footer { margin:4em 0 1.5em; }
footer p {
	color:#c0c0c0;
	margin:0;
	font-size:.8em;
	font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
}
.icon { 
	font-family: 'icons' !important;
	vertical-align: middle;
	margin-right:10px;
	font-size:1.1em;
}
.icon-github:before { content: "Q"; }
.icon-twitter:before { content: "a"; }
.icon-linkedin:before { content: "j"; }
.connect li {
	display:inline-block;
	margin-right:5px;
}
.connect li a {
	font-family:"Lucida Console", Monaco, monospace;
	color:#c0c0c0;
	opacity:.9;
	font-size:.9em;
}
.connect li a:hover {
	color:#333;
}