---
layout: default
title: Projects
weight: 3
extra_js: 'projects.js'
permalink: /
---

<ul id="project-nav">
  <li id="web">web</li>
  <li id="design">design</li>
  <li id="maps">maps</li>
  <li id="all" class="active">all</li>
  <div class="cf"></div>
</ul>

<ul id="projects">

  {% for post in site.categories.projects %}
    <li class="project {% for tag in post.tags %}{{ tag }} {% endfor %}">
      <div class="info">
        <h2>{{ post.title }}</h2>
        {{ post.content }}
      </div>
      <div class="full">
        {% for img in post.images %}
        <img src="{{ site.base_url }}/images/projects/{{ img }}">
        {% endfor %}
      </div>
    </li>
  {% endfor %}

  <!-- <li class="project web maps">
    <h2>D3 Geo</h2>
    <p>Cookbook for the d3.geo library extension.</p>
  </li>

  <li class="project maps">
    <h2>Wordmap</h2>
    <p>Turning wordpress posts into map points.</p>
  </li>

  <li class="project web">
    <h2>German Tools</h2>
    <p>those tools that are named in German names n stuff</p>
  </li>

  <li class="project web">
    <h2>Project Linework</h2>
    <p>yup</p>
  </li>

  <li class="project web">
    <h2>cugos.org</h2>
    <p>ongoing development for CUGOS group</p>
  </li>

<li> atlas of design </li> 


  

  -->
</ul>