---
title: Home
weight: 1
extra_js: 'home.js'
permalink: /
---

{% include header.html %}
{% include nav.html %}
<div class="home">
	<div id="howdy">
		<ul id="themes">
			<li id="party">party</li>
		</ul>
	</div>
	<p>I’m a Seattle-based designer working on websites, cartographic productions, and other digital curiosities. I'm the lead designer & co-founder of <a href="http://situatedlaboratories.com" class="sl">Situated Laboratories</a> and web developer at <a href="http://creativemediaalliance.com" class="goog">Creative Media Alliance</a>.</p>
	<p>I take care of a <a href="http://giscollective.org" class="gisc">collaborative blog</a> and am also an assistant editor of a <a href="http://atlasofdesign.org" class="aod">design atlas</a>. This is my <a href="projects.php" class="proj">portfolio</a> and space for <a href="mugs/index.php" class="exp">experiments</a>.</p>
	<hr>
	<ul class="connect">
		<li><a href="https://www.github.com/svmatthews"><span class="icon icon-github"></span>svmatthews</a></li>
		<li><a href="https://www.twitter.com/vancematthews"><span class="icon icon-twitter"></span>vancematthews</a></li>
		<li><a href="https://www.linkedin.com/in/svmatthews"><span class="icon icon-linkedin"></span>svmatthews</a></li>
		<li><a href="mailto:matthews.sam@gmail.com"><span class="icon icon-mail"></span>matthews.sam[at]gmail.com</a></li>
	</ul>
	<div class="cf"></div>
	<hr>
	<p><strong>Recent Writing</strong></p>
	<ul class="post-list">
	{% for post in site.posts 0 limit: 3 %}
		<li class="{% if post.title == page.title %}current{% endif %}"><span class="date">{{ post.date | date: "%m.%d, %Y" }}</span><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
	</ul>
	<hr>
	<p class="boom">var mapsam = Infinity;</p>
</div>
{% include footer.html %}