<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<link rel="stylesheet" href="/css/site.css">
	<link rel="stylesheet" href="/css/syntax.css">
	{% for css in page.extra_css %}<link rel="stylesheet" href="{{site.baseurl}}/css/{{ css }}">{% endfor %}
	{% for js in page.extra_js %}<script type="text/javascript" src="{{site.baseurl}}/js/{{ js }}"></script>{% endfor %}
	<title>mapsam</title>
</head>
<body>
	<div class="container {% if page.title == "Home" %}home{% endif %}">