<!DOCTYPE html>
<html>
<head>
  <title>mapsam</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="http://mapsam.com{{ page.url }}" />
  <meta property="og:description" content="{{ page.excerpt | strip_html }}" />

  {% include favicon.html %}

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link rel="stylesheet" href="/css/mapsam.css">
  <link rel="stylesheet" href="/css/syntax.css">
  
  {% for js in page.extra_js_cdn %}<script type="text/javascript" src="{{ js }}"></script>{% endfor %}
  {% for css in page.extra_css_cdn %}<link rel="stylesheet" href="{{ css }}">{% endfor %}
  {% for css in page.extra_css %}<link rel="stylesheet" href="{{site.baseurl}}/css/{{ css }}">{% endfor %}

</head>
<body>
