<!DOCTYPE html>
<html>
<head>
  <title>mapsam</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="http://mapsam.com{{ page.url }}" />
  <meta property="og:description" content="{{ page.excerpt | strip_html }}" />

  {% include favicon.html %}

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/mapsam.css">
  <link rel="stylesheet" href="/css/syntax.css">
  {% for js in page.extra_js_cdn %}<script type="text/javascript" src="{{ js }}"></script>{% endfor %}
  {% for css in page.extra_css_cdn %}<link rel="stylesheet" href="{{ css }}">{% endfor %}
  {% for css in page.extra_css %}<link rel="stylesheet" href="{{site.baseurl}}/css/{{ css }}">{% endfor %}
  {% for js in page.extra_js %}<script type="text/javascript" src="{{site.baseurl}}/js/{{ js }}"></script>{% endfor %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-52837030-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
  
</head>
<body>