<nav class="nav cf">
	{% if page.url == '/' %}
		<a href="/" class="active">mapsam.com</a>
	{% else %}
		<a href="/">mapsam.com</a>
	{% endif %}

	{% if page.url == '/posts/' %}
		<a href="/posts" class="active">Writing</a>
	{% else %}
		<a href="/posts">Writing</a>
	{% endif %}

	{% if page.url == '/projects/' %}
		<a href="/projects" class="active">Projects</a>
	{% else %}
		<a href="/projects">Projects</a>
	{% endif %}

	{% if page.url == '/resume/' %}
		<a href="/resume" class="active">Resume</a>
	{% else %}
		<a href="/resume">Resume</a>
	{% endif %}
</nav>
