<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div class="container">
    {% include nav.html %}
    
    <div class="content">
      {{ content }}
    </div>

    <footer>
      <code>mapsam.com &copy; {{ site.time | date: '%Y' }}
        <br>matthews.sam@gmail.com
        <br><a href="{{ site.url}}/resume/matthews-resume-2024.pdf" style="color: inherit">download resume</a>
      </code>
    </footer>
  </div>

  {% for js in page.extra_js %}<script type="text/javascript" src="{{site.baseurl}}/js/{{ js }}"></script>{% endfor %}
</body>
</html>
