---
---

{% include header.html %}
{% include nav.html %}

<article>
	<h1>{{ page.title }}</h1>
	<p class="date">{{ page.date | date: '%B %d, %Y' }}</p>
	<p>{{ content }}</p>
</article>
<hr>
<p><strong>More posts</strong></p>
<ul class="post-list">
{% for post in site.categories.posts %}
	<li class="{% if post.title == page.title %}current{% endif %}"><span class="date">{{ post.date | date: "%m.%d, %Y" }}</span><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

{% include footer.html %}