---
layout: default
---

{{ content }}

<div class="resume cf">
{% for item in page.items %}
  <div class="resume_item cf {{ item.extra }}">
    <h3 class="resume_header">{{ item.name }}<span class="resume_title">{{ item.title }}</span></h3>
    <span class="resume_timeline">{{ item.time }}</span>
    <p class="resume_description">{{ item.description }}</p>
  </div>
{% endfor %}

<h2>Writing, Talks, &amp; More</h2>
{% for c in page.cv %}
  <ul class="resume_list">
    <li><a href="{{ c.link }}" target="_blank">{{ c.name }}<span>{{ c.year }}</span></a></li>
  </ul>
{% endfor %}

</div>